html {
    min-height: 100% ;
    min-width: 100% ;
    background: #f7f7f7;
    font-family: "Roboto Sans", "Arial", sans-serif;
    color: #383C41;
}

a, a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #383C41;
}
